@font-face { font-family: pixelHype; src: url('fonts/Roboto-Thin.ttf');}

html, body {
	font-family: pixelHype;
	font-size: 24px;
	padding: 20px;
}

#time {
	border: solid;
	border-width: 1.5px;
	border-color: black;
	border-radius: 8px;
	background-color: black;
	color: white;
	padding: 3px;
	font-size: 58px;
}

#showerthoughts h3 {
	border: solid;
	border-width: 1.5px;
	border-color: black;
	border-radius: 8px;
	background-color: black;
	color: white;
    clear:both;
    float:left;
	padding: 3px;
}
 
#showerthoughts p {
	text-align: left;
	clear: both;
	float: left;
}

.weatherReport {
	margin-right: -30px;
	margin-left: -30px;
}

.weatherTitle {
	/*width: 50%;*/
	float: left;
	text-align: right;
	padding-right: 15px;
}

.weatherData {
	width: 60%;
	float:right;
	text-align: left;
	padding-left: 15px;
}

#rssTitle {
	border: solid;
	border-width: 1.5px;
	border-color: black;
	border-radius: 8px;
	background-color: black;
	color: white;
	width: 165px;
	padding: 3px;
}

#rssFeed {
	font-size: 15px;
}

#twitterTitle {
	border: solid;
	border-width: 1.5px;
	border-color: black;
	border-radius: 8px;
	background-color: black;
	color: white;
    clear:both;
    float:left;
	padding: 3px;
	margin-left: 8px;
}

.twitterFeed {
	border: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 8px;

	padding-left: 8px;
}

#calTitle {
	border: solid;
	border-width: 1.5px;
	border-color: black;
	border-radius: 8px;
	background-color: black;
	color: white;
    clear:both;
    float:left;
	padding: 3px;
}

#timetables {
	width: 825px;
	padding-bottom: 20px;
	margin-left: 20px;
	margin-right: 45px;
	margin-bottom: 20px;

	border: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 8px;
}

#timetables img {
	display: none;
}
